.fabRow {
  margin-top: 25px;
}

.paddingBottom {
  padding-bottom: 80px;
}

.fab {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reorderBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}
