.workoutTitleWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.workoutTitle {
  font-size: var(--ion-font-size-20);
  text-transform: uppercase;
  font-weight: 500;
}

.buttonGroup {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.fabRow {
  margin-top: 25px;
}

.paddingBottom {
  padding-bottom: 80px;
}

.fab {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reorderBlock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editButtonWrapper {
  display: flex;
}
